In [5]:
%run services/imports.py

importing Jupyter notebook from C:\Users\jeanc\projetos pessoais\project_dataScience_POSCOMP\services\especialidades.ipynb

In [7]:
df = pd.read_csv('dados/nota_poscomp2023.csv', sep=';')

In [8]:
df

,Column1,Column2,Column3,Column4,Column5,Column6
0,Nome,Inscrição,Matemática,Fundamentos da Computação,Tecnologia de Computadores,Total da Nota
1,Abner Fontebom Bissolli Costa,76101704327-1,"14,00","19,00","8,00","41,00"
2,Adiel Ramos de Cristo,76101676578-3,"15,00","19,00","12,00","46,00"
3,Adnilson Brás da Silva Santana,76101704007-3,"20,00","24,00","11,00","55,00"
4,Adriano Augusto Antongiovanni,76101688256-3,"14,00","11,00","6,00","31,00"
...,...,...,...,...,...,...
722,William Silva Mendes,76101694039-2,-,-,-,-
723,Yuri Dimitre Dias de Faria,76101683999-5,"14,00","17,00","10,00","41,00"
724,Yuri Nicolau Freire,76101680014-5,"13,00","22,00","7,00","42,00"
725,Yuri Silva Vaz,76101686704-6,"11,00","17,00","9,00","37,00"
726,Yuvisa Quispe Palomino,76101687365-2,"13,00","9,00","3,00","25,00"