# Processamento dos Dados

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## POSCOMP 2016

### Dados da Homologação do POSCOMP 2016

In [8]:
dados_homologados_2016 = pd.read_csv('dados/poscomp2016/dados_homologados_2016.csv')
dados_homologados_2016.isin(['OU'])

,ESTADO,DATA NASC.,SEXO,ENDERECO.,NUMERO,COMPL.,BAIRRO,CIDADE,CEP,INSCRICAO,CARGO,CÓDIGO,DS CARGO,DEFICIENTE,LOCAL DE PROVA,NECESSIDADES ESPECIAIS,DESCRICAO DA NECESSIDADE,ESTRANGEIRO
0,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4215,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4216,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4217,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4218,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
c = dados_homologados_2016.copy()

In [16]:
#Eliminar as linhas que contêm o Estado do Peru
c.drop(c.index[c['ESTADO'] == 'OU'], inplace = True)

,ESTADO,DATA NASC.,SEXO,ENDERECO.,NUMERO,COMPL.,BAIRRO,CIDADE,CEP,INSCRICAO,CARGO,CÓDIGO,DS CARGO,DEFICIENTE,LOCAL DE PROVA,NECESSIDADES ESPECIAIS,DESCRICAO DA NECESSIDADE,ESTRANGEIRO
0,OU,27/10/1992,M,Pampas de Polanco,16,NaN,Ramiro Priale,Arequipa,05105-1,39401673171-6,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Arequipa - PERU,N,NaN,NaN
1,CE,29/11/1989,M,Mário Studart,380,A,Jacarecanga,Fortaleza,60326-060,39401645886-1,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Fortaleza - CE,N,NaN,NaN
2,RS,23/02/1995,M,Avenida da Azenha,324,Ap 24,Azenha,Porto Alegre,90160004,39401663587-8,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Campina Grande - PB,N,NaN,NaN
3,SP,13/12/1991,M,Gregório Aversa,450,B3 Ap203,Recreio São Judas Tadeu,São Carlos,13571-260,39401651770-6,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,São Carlos - SP,N,NaN,NaN
4,PA,29/09/1986,M,Augusto Montenegro,200,Cond. Verano Ap1105,Parque Verde,Belém,66635-110,39401671273-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,SC,20/04/1985,M,Rua Guilherme José Missen,288,204,Centro,São Miguel do Oeste,89900-000,39401640653-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Chapecó - SC,N,NaN,NaN
4215,OU,03/08/1990,F,Av. Los Libertadores,L-12,NaN,Urb. Juan Pablo Vizcardo y Guzman,Arequipa,400004000,39401635473-9,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Arequipa - PERU,N,NaN,NaN
4216,PA,26/01/1996,M,Travessa We-40,332,Rua da Big Ben,Cidade Nova,Ananindeua,67133325,39401652971-7,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
4217,GO,08/06/1996,F,Rua Alaor Mendonça,sn,Residencial Lourenzz,Vila Rosa,Goiânia,74843-555,39401660786-3,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Goiânia - GO,N,NaN,NaN
4218,PB,30/10/1990,M,Rua Franklin Araújo,294,casa,Alto Branco,Campina Grande,58401-430,39401638998-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Campina Grande - PB,N,NaN,NaN

In [25]:
#Eliminar as linhas que contêm CARGO = 2-AUTOAVALIAÇÃO
c.drop(c.index[c['CARGO'] == '2-Autoavaliação'], inplace = True)

In [28]:
novos_dados_homologacao = c
novos_dados_homologacao

,ESTADO,DATA NASC.,SEXO,ENDERECO.,NUMERO,COMPL.,BAIRRO,CIDADE,CEP,INSCRICAO,CARGO,CÓDIGO,DS CARGO,DEFICIENTE,LOCAL DE PROVA,NECESSIDADES ESPECIAIS,DESCRICAO DA NECESSIDADE,ESTRANGEIRO
1,CE,29/11/1989,M,Mário Studart,380,A,Jacarecanga,Fortaleza,60326-060,39401645886-1,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Fortaleza - CE,N,NaN,NaN
2,RS,23/02/1995,M,Avenida da Azenha,324,Ap 24,Azenha,Porto Alegre,90160004,39401663587-8,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Campina Grande - PB,N,NaN,NaN
3,SP,13/12/1991,M,Gregório Aversa,450,B3 Ap203,Recreio São Judas Tadeu,São Carlos,13571-260,39401651770-6,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,São Carlos - SP,N,NaN,NaN
4,PA,29/09/1986,M,Augusto Montenegro,200,Cond. Verano Ap1105,Parque Verde,Belém,66635-110,39401671273-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
6,AM,26/12/1997,F,Açaí,78,ESCOLA ESTADUAL PADR,Zumbi dos Palmares,Manaus,69084-329,39401684751-5,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Manaus - AM,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4213,PA,11/08/1989,M,Rua B,124,Conjunto Pedro Teixe,Coqueiro,Belém,66670350,39401640769-6,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
4214,SC,20/04/1985,M,Rua Guilherme José Missen,288,204,Centro,São Miguel do Oeste,89900-000,39401640653-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Chapecó - SC,N,NaN,NaN
4216,PA,26/01/1996,M,Travessa We-40,332,Rua da Big Ben,Cidade Nova,Ananindeua,67133325,39401652971-7,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
4217,GO,08/06/1996,F,Rua Alaor Mendonça,sn,Residencial Lourenzz,Vila Rosa,Goiânia,74843-555,39401660786-3,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Goiânia - GO,N,NaN,NaN
4218,PB,30/10/1990,M,Rua Franklin Araújo,294,casa,Alto Branco,Campina Grande,58401-430,39401638998-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Campina Grande - PB,N,NaN,NaN

In [48]:
novos_dados_homologacao.set_index('ESTADO')

,DATA NASC.,SEXO,ENDERECO.,NUMERO,COMPL.,BAIRRO,CIDADE,CEP,INSCRICAO,CARGO,CÓDIGO,DS CARGO,DEFICIENTE,LOCAL DE PROVA,NECESSIDADES ESPECIAIS,DESCRICAO DA NECESSIDADE,ESTRANGEIRO
ESTADO,,,,,,,,,,,,,,,,,
CE,29/11/1989,M,Mário Studart,380,A,Jacarecanga,Fortaleza,60326-060,39401645886-1,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Fortaleza - CE,N,NaN,NaN
RS,23/02/1995,M,Avenida da Azenha,324,Ap 24,Azenha,Porto Alegre,90160004,39401663587-8,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Campina Grande - PB,N,NaN,NaN
SP,13/12/1991,M,Gregório Aversa,450,B3 Ap203,Recreio São Judas Tadeu,São Carlos,13571-260,39401651770-6,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,São Carlos - SP,N,NaN,NaN
PA,29/09/1986,M,Augusto Montenegro,200,Cond. Verano Ap1105,Parque Verde,Belém,66635-110,39401671273-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
AM,26/12/1997,F,Açaí,78,ESCOLA ESTADUAL PADR,Zumbi dos Palmares,Manaus,69084-329,39401684751-5,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Manaus - AM,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PA,11/08/1989,M,Rua B,124,Conjunto Pedro Teixe,Coqueiro,Belém,66670350,39401640769-6,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
SC,20/04/1985,M,Rua Guilherme José Missen,288,204,Centro,São Miguel do Oeste,89900-000,39401640653-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Chapecó - SC,N,NaN,NaN
PA,26/01/1996,M,Travessa We-40,332,Rua da Big Ben,Cidade Nova,Ananindeua,67133325,39401652971-7,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
GO,08/06/1996,F,Rua Alaor Mendonça,sn,Residencial Lourenzz,Vila Rosa,Goiânia,74843-555,39401660786-3,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Goiânia - GO,N,NaN,NaN
PB,30/10/1990,M,Rua Franklin Araújo,294,casa,Alto Branco,Campina Grande,58401-430,39401638998-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Campina Grande - PB,N,NaN,NaN

### Dados das Notas do POSCOMP 2016

In [30]:
dados_notas_2016 = pd.read_csv('dados/poscomp2016/dados_notas_2016.csv')
dados_notas_2016

,Unnamed: 0,CONCURSO,DATA NASC,DOCUMENTO,NEC ESP,HIPO,DEF,AFRO,INDIO,COD CARGO,...,NOTA Sistemas Distribuídos,ACERTOS Compiladores,NOTA Compiladores,ACERTOS Processamento de Imagens,NOTA Processamento de Imagens,ACERTOS Banco de Dados,NOTA Banco de Dados,ACERTOS TO,NOTA TOTAL TO,ESTRANGEIRO
0,0,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
1,1,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
2,2,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
3,3,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
4,4,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23845,23845,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
23846,23846,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
23847,23847,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
23848,23848,394,30/10/1990,3335248,N,NaN,NaN,NaN,N,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23849,23849,394,30/10/1990,3335248,N,NaN,NaN,NaN,N,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
dados_notas_2016.set_index('INSCRICAO')

,Unnamed: 0,CONCURSO,DATA NASC,DOCUMENTO,NEC ESP,HIPO,DEF,AFRO,INDIO,COD CARGO,...,NOTA Sistemas Distribuídos,ACERTOS Compiladores,NOTA Compiladores,ACERTOS Processamento de Imagens,NOTA Processamento de Imagens,ACERTOS Banco de Dados,NOTA Banco de Dados,ACERTOS TO,NOTA TOTAL TO,ESTRANGEIRO
INSCRICAO,,,,,,,,,,,,,,,,,,,,,
39401673171-6,0,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
39401673171-6,1,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
39401673171-6,2,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
39401673171-6,3,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
39401673171-6,4,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39401660786-3,23845,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
39401660786-3,23846,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
39401660786-3,23847,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
39401638998-0,23848,394,30/10/1990,3335248,N,NaN,NaN,NaN,N,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39401638998-0,23849,394,30/10/1990,3335248,N,NaN,NaN,NaN,N,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dados das Respostas do POSCOMP 2016

In [34]:
dados_respostas_2016 = pd.read_csv('dados/poscomp2016/dados_respostas_2016.csv')
dados_respostas_2016

,NÚMERO DE INSCRIÇÃO,NUM,SITUAÇÃO,1,2,3,4,5,6,7,...,61,62,63,64,65,66,67,68,69,70
0,39401673171,"1,003E+11",Presente,E,A,B,D,A,A,C,...,D,A,A,A,D,C,A,NaN,B,D
1,39401645886,"1,018E+11",Presente,B,A,E,C,A,A,C,...,D,A,C,A,E,C,C,C,C,A
2,39401663587,"1,009E+11",Presente,E,A,B,D,A,A,C,...,D,A,A,A,E,C,A,C,B,D
3,39401651770,"1,045E+11",Presente,E,E,D,B,D,B,D,...,D,A,E,E,E,C,A,B,B,C
4,39401671273,"1,005E+11",Presente,B,A,D,C,E,D,B,...,C,E,E,A,E,C,C,C,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,39401640653,"1,013E+11",Presente,B,A,C,E,A,B,B,...,C,C,C,C,E,C,C,C,C,D
4215,39401635473,"1,003E+11",Presente,B,C,B,D,A,A,C,...,D,A,A,NaN,NaN,NaN,NaN,C,B,D
4216,39401652971,"1,00504E+11",Presente,B,A,D,D,C,A,C,...,E,A,C,A,E,C,C,E,B,C
4217,39401660786,"1,02005E+11",Presente,E,B,D,C,C,A,B,...,B,A,B,A,B,C,B,E,A,C
4218,39401638998,"1,00902E+11",Ausente,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [51]:
dados_p = dados_respostas_2016.copy()
dados_p.drop(dados_p.index[dados_p['SITUAÇÃO'] == 'Ausente'], inplace = True)

In [52]:
dados_p.set_index('NÚMERO DE INSCRIÇÃO')

,NUM,SITUAÇÃO,1,2,3,4,5,6,7,8,...,61,62,63,64,65,66,67,68,69,70
NÚMERO DE INSCRIÇÃO,,,,,,,,,,,,,,,,,,,,,
39401673171,"1,003E+11",Presente,E,A,B,D,A,A,C,NaN,...,D,A,A,A,D,C,A,NaN,B,D
39401645886,"1,018E+11",Presente,B,A,E,C,A,A,C,E,...,D,A,C,A,E,C,C,C,C,A
39401663587,"1,009E+11",Presente,E,A,B,D,A,A,C,D,...,D,A,A,A,E,C,A,C,B,D
39401651770,"1,045E+11",Presente,E,E,D,B,D,B,D,D,...,D,A,E,E,E,C,A,B,B,C
39401671273,"1,005E+11",Presente,B,A,D,C,E,D,B,D,...,C,E,E,A,E,C,C,C,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39401640769,"1,00504E+11",Presente,E,A,D,C,C,B,E,B,...,C,A,A,C,E,C,A,B,B,B
39401640653,"1,013E+11",Presente,B,A,C,E,A,B,B,C,...,C,C,C,C,E,C,C,C,C,D
39401635473,"1,003E+11",Presente,B,C,B,D,A,A,C,E,...,D,A,A,NaN,NaN,NaN,NaN,C,B,D
39401652971,"1,00504E+11",Presente,B,A,D,D,C,A,C,B,...,E,A,C,A,E,C,C,E,B,C
39401660786,"1,02005E+11",Presente,E,B,D,C,C,A,B,D,...,B,A,B,A,B,C,B,E,A,C

### Dados dos Gabaritos POSCOMP 2016

In [54]:
dados_gabarito_2016 = pd.read_csv('dados/poscomp2016/dados_gabaritos_2016.csv')

In [55]:
dados_g = dados_gabarito_2016.copy()

dados_g.drop(dados_g.index[dados_g['CARGO'] == 'Autoavaliação'], inplace = True)

In [56]:
dados_g.set_index('CARGO')

,COD CARGO,QUESTAO,MATERIA,RESPOSTA,ASSINATURA ELETRONICA,TIPO GABARITO,CONCURSO,COD MATERIA,PESO QUESTAO,STATUS QUESTAO,TIPO PROVA APLICADA
CARGO,,,,,,,,,,,
Mestrado/doutorado,1,1,Álgebra Linear,E,NaN,D,394,3,1,1,1
Mestrado/doutorado,1,2,Álgebra Linear,A,NaN,D,394,3,1,1,1
Mestrado/doutorado,1,3,Geometria Analítica,C,NaN,D,394,4,1,1,1
Mestrado/doutorado,1,4,Geometria Analítica,D,NaN,D,394,4,1,1,1
Mestrado/doutorado,1,5,Cálculo Diferencial Integral,A,NaN,D,394,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
Mestrado/doutorado,1,66,Inteligência Artificial,C,NaN,D,394,20,1,1,1
Mestrado/doutorado,1,67,Sistemas Distribuídos,A,NaN,D,394,22,1,1,1
Mestrado/doutorado,1,68,Compiladores,C,NaN,D,394,23,1,1,1
Mestrado/doutorado,1,69,Inteligência Artificial,B,NaN,D,394,20,1,1,1
Mestrado/doutorado,1,70,Engenharia de Software,A,NaN,D,394,21,1,1,1

### Salvar os dados

In [58]:
novos_dados_homologacao.to_csv('dados/poscomp2016/dados_homologacao_PROCESSADA.csv')
dados_notas_2016.to_csv('dados/poscomp2016/dados_notas_PROCESSADA.csv')
dados_p.to_csv('dados/poscomp2016/dados_respostas_PROCESSADA.csv')
dados_g.to_csv('dados/poscomp2016/dados_gabarito_PROCESSADA.csv')