## Importação das bibliotecas

In [1]:
%run ../services/imports.py
%run ../services/visualization.py
from services.function import Function

In [2]:
df_poscomp = pd.read_csv("teste.csv")

In [3]:
# converter os type das colunas
df_poscomp["ano"] = df_poscomp["ano"].astype("object")
# Primeiramente, será excluídos candidatos que realizaram o exame no Peru
df_poscomp = df_poscomp.query("estado != 'ou' & presença != 'n'")
df_poscomp["idade"] = df_poscomp.apply(Function.calculate_age, axis=1)
df_poscomp = df_poscomp.query('idade > 0')

In [4]:
df_poscomp.drop(columns=['presença','cargo','especialidade','ano'], inplace=True)

# identificar os atributos relacionados

In [5]:
from sklearn.feature_selection import VarianceThreshold

In [6]:
df_poscomp

,idade,sexo,estado,matematica,fund_computacao,tec_computacao,linhas_pesquisas
0,27,masculino,ce,14.0,21.0,10.0,sistemas de informação
1,21,masculino,rs,16.0,22.0,12.0,engenharia de software
2,25,masculino,sp,4.0,16.0,8.0,engenharia de software
3,30,masculino,pa,4.0,13.0,7.0,sistemas de informação
4,19,feminino,am,6.0,15.0,11.0,inteligência artificial
...,...,...,...,...,...,...,...
14711,26,masculino,pr,12.0,18.0,10.0,engenharia de software
14712,24,masculino,pi,8.0,9.0,3.0,sistemas de computação
14716,25,masculino,mg,14.0,17.0,10.0,sistemas de computação
14717,26,masculino,sp,13.0,22.0,7.0,sistemas de informação
14718,28,masculino,rs,11.0,17.0,9.0,sistemas de informação

In [7]:
X = df_poscomp.drop(columns='linhas_pesquisas')
y = df_poscomp.loc[:, 'linhas_pesquisas']

In [8]:
X

       idade       sexo estado  matematica  fund_computacao  tec_computacao
0         27  masculino     ce        14.0             21.0            10.0
1         21  masculino     rs        16.0             22.0            12.0
2         25  masculino     sp         4.0             16.0             8.0
3         30  masculino     pa         4.0             13.0             7.0
4         19   feminino     am         6.0             15.0            11.0
...      ...        ...    ...         ...              ...             ...
14711     26  masculino     pr        12.0             18.0            10.0
14712     24  masculino     pi         8.0              9.0             3.0
14716     25  masculino     mg        14.0             17.0            10.0
14717     26  masculino     sp        13.0             22.0             7.0
14718     28  masculino     rs        11.0             17.0             9.0

[11948 rows x 6 columns]

In [9]:
# Inicializando o LabelEncoder
label_encoder = LabelEncoder()

# Lista das colunas categóricas
categorical_columns = ['estado', 'sexo']

# Aplicando LabelEncoder para cada coluna categórica
for column in categorical_columns:
    X[column] = label_encoder.fit_transform(X[column])

In [10]:
selection = VarianceThreshold(threshold=0.0)
X_new = selection.fit_transform(X)

In [11]:
selection.variances_

array([35.06899177,  0.14394478, 26.        , 11.01646452, 14.65384079,
        6.92033613])

In [12]:
for i in range(len(selection.variances_)):
    print(selection.variances_[i])

35.068991765062954
0.14394478377399036
26.0
11.0164645222479
14.653840786920759
6.920336131270322

In [13]:
indexes = np.where(selection.variances_ > 0)
indexes

(array([0, 1, 2, 3, 4, 5]),)

In [14]:
X_new

array([[27.,  1.,  5., 14., 21., 10.],
       [21.,  1., 22., 16., 22., 12.],
       [25.,  1., 25.,  4., 16.,  8.],
       ...,
       [25.,  1., 10., 14., 17., 10.],
       [26.,  1., 25., 13., 22.,  7.],
       [28.,  1., 22., 11., 17.,  9.]])

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.35, random_state=0)

In [21]:
model = RandomForestClassifier(criterion='entropy', n_estimators=500)
model.fit(X_train, y_train)
prediction = model.predict(X_test)
accuracy_score(y_test, prediction)

0.3323768531802965