### Importar as bibliotecas

In [1]:
%run ../services/imports.py
%run ../services/visualization.py
import services.lista_estados_regioes as lesr
import services.listasColunas as lc
import services.alterarColunas as altc

importing Jupyter notebook from /home/jean/project/project_dataScience_POSCOMP/notebooks/../services/especialidades.ipynb
importing Jupyter notebook from /home/jean/project/project_dataScience_POSCOMP/notebooks/../services/lista_estados_regioes.ipynb
importing Jupyter notebook from /home/jean/project/project_dataScience_POSCOMP/notebooks/../services/listasColunas.ipynb
importing Jupyter notebook from /home/jean/project/project_dataScience_POSCOMP/notebooks/../services/alterarColunas.ipynb

## Dados de Homologação

In [2]:
dados_homologados_2016 = pd.read_csv("../dados/homologacao_poscomp/homologados_dados_contatos_poscomp_2016.csv", sep=';', encoding='utf-8')
dados_homologados_2017 = pd.read_csv("../dados/homologacao_poscomp/homologados_dados_contatos_poscomp_2017.csv", sep=';', encoding='utf-8')
dados_homologados_2018 = pd.read_csv("../dados/homologacao_poscomp/homologados_dados_contatos_poscomp_2018.csv", sep=';', encoding='utf-8')
dados_homologados_2019 = pd.read_csv("../dados/homologacao_poscomp/homologados_dados_contatos_poscomp_2019.csv", sep=';', encoding='utf-8')

In [3]:
# dados_homologados_2016 = dados_homologados_2016.assign(ANO='2016')
# dados_homologados_2017 = dados_homologados_2017.assign(ANO='2017')
# dados_homologados_2018 = dados_homologados_2018.assign(ANO='2018')
# dados_homologados_2019 = dados_homologados_2019.assign(ANO='2019')

In [4]:
dados_homologados = pd.concat([dados_homologados_2016, dados_homologados_2017, dados_homologados_2018, dados_homologados_2019], axis=0)
dados_homologados = dados_homologados.drop(columns=['TIPO DE DOCUMENTO', 'DOCUMENTO','NOME DO PAI', 
                                                    'NOME DA MÃE', 'EMAIL', 'DDD', 'FONE', 'DDD CEL', 'CELULAR', 'SENHA', 'DATA INSCRIÇÃO',
                                                    'DEFICIENTE', 'NECESSIDADES ESPECIAIS', 'DESCRICAO DA NECESSIDADE', 'ESTRANGEIRO', 
                                                    'CARGO','DS CARGO', 'COMPL.', 'ENDERECO.', 'BAIRRO', 'CEP', 'NUMERO', 'LOCAL DE PROVA', 'CIDADE', 'CÓDIGO'])

In [5]:
dados_homologados

,NOME,CPF,DATA NASC.,SEXO,ESTADO,INSCRICAO
0,ABEL CASTRO CONDORI,000.000.972-32,27/10/1992,M,OU,39401673171-6
1,ABELARDO VIEIRA MOTA,013.692.163-94,29/11/1989,M,CE,39401645886-1
2,ABNER MATHEUS COSTA DE ARAUJO,111.403.224-78,23/02/1995,M,RS,39401663587-8
3,ABNER MOISES DOS SANTOS GOMES,388.006.478-47,13/12/1991,M,SP,39401651770-6
4,ABRAAO DA COSTA SANTANA,908.770.632-49,29/09/1986,M,PA,39401671273-0
...,...,...,...,...,...,...
2887,YURI MORASKI BATISTA,140.092.867-25,10/01/1994,M,ES,51801396055-5
2888,YURI SILVA VAZ,025.435.730-03,20/03/1995,M,RS,51801354647-6
2889,YURI VLADIMIR HUALLPA VARGAS,000.000.974-35,24/06/1995,M,OU,51801393821-0
2890,YURY ALENCAR LIMA,060.703.741-50,30/05/1997,M,RS,51801354273-1
2891,ZOLTÁN HIRATA JETSMEN,457.631.928-00,20/03/1997,M,SP,51801366900-3

In [6]:
dados_homologados['ESTADO'].value_counts()

ESTADO
SP             2890
MG             1702
RS             1346
PR             1132
SC              788
CE              746
PB              741
PA              698
GO              566
MS              566
RJ              506
PI              468
ES              467
MA              398
OU              229
AL              228
RN              209
MT              190
BA              171
SE              138
AM              107
DF               95
TO               70
PE               65
RO               27
AP               16
RR                7
AC                7
Nova Iguaçu       1
Fortaleza         1
Name: count, dtype: int64

In [7]:
dados_homologados[dados_homologados['NOME'].str.startswith('ADRIANNE')]

,NOME,CPF,DATA NASC.,SEXO,ESTADO,INSCRICAO
19,ADRIANNE VERAS DE ALMEIDA,024.853.672-99,24/07/1996,F,PA,51801353989-4

## Notas das respostas

#### Base de 2016 a 2019

In [8]:
dados_notasRespostas_2016 = pd.read_csv("../dados/notas_poscomp/Notas_poscomp_2016.csv", sep=';', encoding='utf-8')
dados_notasRespostas_2017 = pd.read_csv("../dados/notas_poscomp/Notas_poscomp_2017.csv", sep=';', encoding='utf-8')
dados_notasRespostas_2018 = pd.read_csv("../dados/notas_poscomp/Notas_poscomp_2018.csv", sep=';', encoding='utf-8')
dados_notasRespostas_2019 = pd.read_csv("../dados/notas_poscomp/Notas_poscomp_2019.csv", sep=';', encoding='utf-8')

In [9]:
dados_notasRespostas_2016.drop(columns=['NOTA TOTAL Prova Discursiva',' OBSERVAÇÃO Prova Discursiva'], axis=1, inplace=True)
dados_notasRespostas_2018.drop(columns=['NOTA TOTAL Prova Discursiva',' OBSERVAÇÃO Prova Discursiva'], axis=1, inplace=True)

In [10]:
dados_notasRespostas_2016 = dados_notasRespostas_2016.assign(ANO='2016')
dados_notasRespostas_2017 = dados_notasRespostas_2017.assign(ANO='2017')
dados_notasRespostas_2018 = dados_notasRespostas_2018.assign(ANO='2018')
dados_notasRespostas_2019 = dados_notasRespostas_2019.assign(ANO='2019')

In [11]:
dados_notasRespostas_2016 = dados_notasRespostas_2016[lc.lista_2016]
dados_notasRespostas_2017 = dados_notasRespostas_2017[lc.lista_2017]
dados_notasRespostas_2018 = dados_notasRespostas_2018[lc.lista_2018]
dados_notasRespostas_2019 = dados_notasRespostas_2019[lc.lista_2019]

In [12]:
dados_notasRespostas_2016.shape, dados_notasRespostas_2017.shape, dados_notasRespostas_2019.shape, dados_notasRespostas_2019.shape

((23850, 30), (22174, 30), (14775, 30), (14775, 30))

In [13]:
dados_notasRespostas_2016 = dados_notasRespostas_2016.rename(columns=altc.alteraColunas_2016)
dados_notasRespostas_2017 = dados_notasRespostas_2017.rename(columns=altc.alteraColunas_2017)
dados_notasRespostas_2018 = dados_notasRespostas_2018.rename(columns=altc.alteraColunas_2018)
dados_notasRespostas_2019 = dados_notasRespostas_2019.rename(columns=altc.alteraColunas_2019)

In [14]:
dados_notasRespostas = pd.concat([dados_notasRespostas_2016, dados_notasRespostas_2017, dados_notasRespostas_2018, dados_notasRespostas_2019], axis=0)

In [15]:
dados_notasRespostas.shape

(79479, 30)

## Mesclar os dados

In [16]:
dados_homologados.head()

,NOME,CPF,DATA NASC.,SEXO,ESTADO,INSCRICAO
0,ABEL CASTRO CONDORI,000.000.972-32,27/10/1992,M,OU,39401673171-6
1,ABELARDO VIEIRA MOTA,013.692.163-94,29/11/1989,M,CE,39401645886-1
2,ABNER MATHEUS COSTA DE ARAUJO,111.403.224-78,23/02/1995,M,RS,39401663587-8
3,ABNER MOISES DOS SANTOS GOMES,388.006.478-47,13/12/1991,M,SP,39401651770-6
4,ABRAAO DA COSTA SANTANA,908.770.632-49,29/09/1986,M,PA,39401671273-0

In [17]:
dados_notasRespostas.head()

,INSCRICAO,ESPECIALIDADE,PRESENTE DIA1,CARGO,Matemática Discreta,Cálculo Diferencial e Integral,Álgebra Linear,Geometria Analítica,Análise Combinatória,Probabilidade e Estatística,...,Arquitetura e Organização de Computadores,Redes de Computadores,Computação Gráfica,Inteligência Artificial,Engenharia de Software,Sistemas Distribuídos,Compiladores,Processamento de Imagens,Banco de Dados,ANO
0,39401673171-6,Inteligência Artificial,S,Mestrado/Doutorado,3.0,3.0,3.0,1.0,2.0,1.0,...,1.0,1.0,0.0,2.0,0.0,3.0,0.0,2.0,2.0,2016
1,39401673171-6,Linhas de Produto de Software,S,Mestrado/Doutorado,3.0,3.0,3.0,1.0,2.0,1.0,...,1.0,1.0,0.0,2.0,0.0,3.0,0.0,2.0,2.0,2016
2,39401673171-6,"Computação Gráfica, Processamento de Imagens, ...",S,Mestrado/Doutorado,3.0,3.0,3.0,1.0,2.0,1.0,...,1.0,1.0,0.0,2.0,0.0,3.0,0.0,2.0,2.0,2016
3,39401673171-6,Inteligência Computacional,S,Mestrado/Doutorado,3.0,3.0,3.0,1.0,2.0,1.0,...,1.0,1.0,0.0,2.0,0.0,3.0,0.0,2.0,2.0,2016
4,39401673171-6,Inteligência Artificial,S,Mestrado/Doutorado,3.0,3.0,3.0,1.0,2.0,1.0,...,1.0,1.0,0.0,2.0,0.0,3.0,0.0,2.0,2.0,2016

In [18]:
data_poscomp = dados_homologados.merge(dados_notasRespostas,
                        how='left',
                        left_on=['INSCRICAO'],
                        right_on=['INSCRICAO'])

In [22]:
data_poscomp.query("ANO.isnull()")

,NOME,CPF,DATA NASC.,SEXO,ESTADO,INSCRICAO,ESPECIALIDADE,PRESENTE DIA1,CARGO,Matemática Discreta,...,Arquitetura e Organização de Computadores,Redes de Computadores,Computação Gráfica,Inteligência Artificial,Engenharia de Software,Sistemas Distribuídos,Compiladores,Processamento de Imagens,Banco de Dados,ANO
65274,ANA CLARA CORREA DA SILVA,135.310.396-01,12/10/1998,F,Nova Iguaçu,688145,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72776,KEVEN DO NASCIMENTO CARNEIRO,606.436.913-24,28/08/1995,M,Fortaleza,miamia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Salvar dados

In [23]:
data_poscomp.drop([65274, 72776], inplace=True, axis=0)

In [24]:
data_poscomp.to_csv('../dados/homologacao_poscomp/dataset_poscomp.csv', index=False)

In [ ]:
# dados_notasRespostas.to_csv('dados/notas_poscomp/dados_notasRespostas.csv')