### Importar as bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Dados de respostas

In [20]:
# Carregar os dados das respostas do POSCOMP 2016
dados_respostas_2016 = pd.read_csv('dados/respostas_poscomp/exportacao_respostas_poscomp_2016.csv', sep=';', encoding='utf-8')
dados_respostas_2017 = pd.read_csv('dados/respostas_poscomp/exportacao_respostas_poscomp_2017.csv', sep=';', encoding='utf-8')
dados_respostas_2018 = pd.read_csv('dados/respostas_poscomp/exportacao_respostas_poscomp_2018.csv', sep=';', encoding='utf-8')
dados_respostas_2019 = pd.read_csv('dados/respostas_poscomp/exportacao_respostas_poscomp_2019.csv', sep=';', encoding='utf-8')

In [26]:
dados_respostas_2016.columns

Index(['NUM', 'NÚMERO DE INSCRIÇÃO', 'SITUAÇÃO', '1', '2', '3', '4', '5', '6',
       '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30',
       '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42',
       '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70'],
      dtype='object')

In [28]:
dados_respostas_2016.set_index('NÚMERO DE INSCRIÇÃO')
dados_respostas_2017.set_index('NÚMERO DE INSCRIÇÃO')
dados_respostas_2018.set_index('NÚMERO DE INSCRIÇÃO')
dados_respostas_2019.set_index('NÚMERO DE INSCRIÇÃO')

,NUM,NOME CANDIDATO,SALA,SITUAÇÃO,1,2,3,4,5,6,...,61,62,63,64,65,66,67,68,69,70
NÚMERO DE INSCRIÇÃO,,,,,,,,,,,,,,,,,,,,,
51801393615,"1,05101E+11",Aarao Melo Lopes,5100,Presente,A,B,D,E,E,B,...,B,D,D,A,B,D,E,C,B,A
51801392147,"1,01601E+11",Abner Fontebom Bissolli Costa,1600,Presente,A,B,D,E,B,B,...,B,B,E,D,C,A,E,E,C,B
51801384165,"1,02001E+11",Acquila Santos Rocha,2000,Presente,A,A,D,E,A,C,...,B,D,A,A,A,C,E,A,C,E
51801397157,"1,05601E+11",Adailton Saraiva,5600,Presente,A,B,C,C,D,C,...,B,E,C,A,A,A,E,C,C,C
51801377987,"1,05101E+11",Adauton Machado Heringer,5100,Presente,A,B,D,E,E,B,...,B,E,B,A,B,A,C,D,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51801396055,"1,05602E+11",Yuri Moraski Batista,5601,Presente,A,B,D,B,C,B,...,B,A,D,A,C,C,E,A,E,E
51801354647,"1,03601E+11",Yuri Silva Vaz,3600,Presente,C,B,D,E,E,B,...,B,A,D,D,C,C,E,A,C,A
51801393821,"1,00402E+11",yuri vladimir huallpa vargas,401,Presente,A,B,D,E,E,B,...,B,NaN,NaN,A,C,A,B,D,NaN,E
51801354273,"1,00201E+11",Yury Alencar Lima,200,Ausente,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
51801366900,"1,05106E+11",Zoltán Hirata Jetsmen,5105,Ausente,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [66]:
dados_respostas_2016 = dados_respostas_2016.assign(ANO='2016')
dados_respostas_2017 = dados_respostas_2017.assign(ANO='2017')
dados_respostas_2018 = dados_respostas_2018.assign(ANO='2018')
dados_respostas_2019 = dados_respostas_2019.assign(ANO='2019')

In [67]:
dados_respostas_2016

,NUM,NÚMERO DE INSCRIÇÃO,SITUAÇÃO,1,2,3,4,5,6,7,...,62,63,64,65,66,67,68,69,70,ANO
0,"1,003E+11",39401673171,Presente,E,A,B,D,A,A,C,...,A,A,A,D,C,A,NaN,B,D,2016
1,"1,018E+11",39401645886,Presente,B,A,E,C,A,A,C,...,A,C,A,E,C,C,C,C,A,2016
2,"1,009E+11",39401663587,Presente,E,A,B,D,A,A,C,...,A,A,A,E,C,A,C,B,D,2016
3,"1,045E+11",39401651770,Presente,E,E,D,B,D,B,D,...,A,E,E,E,C,A,B,B,C,2016
4,"1,005E+11",39401671273,Presente,B,A,D,C,E,D,B,...,E,E,A,E,C,C,C,A,D,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,"1,013E+11",39401640653,Presente,B,A,C,E,A,B,B,...,C,C,C,E,C,C,C,C,D,2016
4215,"1,003E+11",39401635473,Presente,B,C,B,D,A,A,C,...,A,A,NaN,NaN,NaN,NaN,C,B,D,2016
4216,"1,00504E+11",39401652971,Presente,B,A,D,D,C,A,C,...,A,C,A,E,C,C,E,B,C,2016
4217,"1,02005E+11",39401660786,Presente,E,B,D,C,C,A,B,...,A,B,A,B,C,B,E,A,C,2016
4218,"1,00902E+11",39401638998,Ausente,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,2016

In [75]:
# Unir as tabelas de dados_respostas de todos os anos
dados_respostas_1 = pd.concat([dados_respostas_2016, dados_respostas_2017, dados_respostas_2018, dados_respostas_2019], axis=0)
dados_respostas_1 = dados_respostas_1.drop(columns=['NOME CANDIDATO','SALA'])

## Dados de Homologação

In [78]:
dados_homologados_2016 = pd.read_csv("dados/homologação_poscomp/homologados_dados_contatos_poscomp_2016.csv", sep=';', encoding='utf-8')
dados_homologados_2017 = pd.read_csv("dados/homologação_poscomp/homologados_dados_contatos_poscomp_2017.csv", sep=';', encoding='utf-8')
dados_homologados_2018 = pd.read_csv("dados/homologação_poscomp/homologados_dados_contatos_poscomp_2018.csv", sep=';', encoding='utf-8')
dados_homologados_2019 = pd.read_csv("dados/homologação_poscomp/homologados_dados_contatos_poscomp_2019.csv", sep=';', encoding='utf-8')

In [80]:
# Dados da homologação dos candidatos POSCOMP 2016
# dados_homologados_2016 = dados_homologados_2016.set_index('ESTADO')
dados_homologados_2016.columns

Index(['NOME', 'CPF', 'DATA NASC.', 'SEXO', 'TIPO DE DOCUMENTO', 'DOCUMENTO',
       'NOME DO PAI', 'NOME DA MÃE', 'ENDERECO.', 'NUMERO', 'COMPL.', 'BAIRRO',
       'CIDADE', 'ESTADO', 'CEP', 'EMAIL', 'DDD', 'FONE', 'DDD CEL', 'CELULAR',
       'SENHA', 'INSCRICAO', 'DATA INSCRIÇÃO', 'CARGO', 'CÓDIGO', 'DS CARGO',
       'DEFICIENTE', 'LOCAL DE PROVA', 'NECESSIDADES ESPECIAIS',
       'DESCRICAO DA NECESSIDADE', 'ESTRANGEIRO'],
      dtype='object')

In [88]:
dados_homologados_2016 = dados_homologados_2016.assign(ANO='2016')
dados_homologados_2017 = dados_homologados_2017.assign(ANO='2017')
dados_homologados_2018 = dados_homologados_2018.assign(ANO='2018')
dados_homologados_2019 = dados_homologados_2019.assign(ANO='2019')

In [89]:
dados_homologados = pd.concat([dados_homologados_2016, dados_homologados_2017, dados_homologados_2018, dados_homologados_2019], axis=0)
dados_homologados = dados_homologados.drop(columns=['NOME','CPF', 'DATA NASC.', 'TIPO DE DOCUMENTO', 'DOCUMENTO','NOME DO PAI', 
                                                    'NOME DA MÃE', 'EMAIL', 'DDD', 'FONE', 'DDD CEL', 'CELULAR', 'SENHA', 'DATA INSCRIÇÃO',
                                                    'DEFICIENTE', 'NECESSIDADES ESPECIAIS', 'DESCRICAO DA NECESSIDADE', 'ESTRANGEIRO', 
                                                    'DS CARGO', 'COMPL.'])

In [90]:
dados_homologados

,SEXO,ENDERECO.,NUMERO,BAIRRO,CIDADE,ESTADO,CEP,INSCRICAO,CARGO,CÓDIGO,LOCAL DE PROVA,ANO
0,M,Pampas de Polanco,16,Ramiro Priale,Arequipa,OU,05105-1,39401673171-6,1-Mestrado/Doutorado,1,Arequipa - PERU,2016
1,M,Mário Studart,380,Jacarecanga,Fortaleza,CE,60326-060,39401645886-1,1-Mestrado/Doutorado,1,Fortaleza - CE,2016
2,M,Avenida da Azenha,324,Azenha,Porto Alegre,RS,90160004,39401663587-8,1-Mestrado/Doutorado,1,Campina Grande - PB,2016
3,M,Gregório Aversa,450,Recreio São Judas Tadeu,São Carlos,SP,13571-260,39401651770-6,1-Mestrado/Doutorado,1,São Carlos - SP,2016
4,M,Augusto Montenegro,200,Parque Verde,Belém,PA,66635-110,39401671273-0,1-Mestrado/Doutorado,1,Belém - PA,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
2887,M,Rua Piratininga,33,Praia da Costa,Vila Velha,ES,29101-220,51801396055-5,1-Mestrado/Doutorado,1,Vitória/ES,2019
2888,M,Avenida São Francisco de Paula,2138,Areal,Pelotas,RS,96080-730,51801354647-6,1-Mestrado/Doutorado,1,Pelotas/RS,2019
2889,M,jv tablon del niño jesus - san jeronimo,328,san jeronimo,cusco,OU,08000-,51801393821-0,1-Mestrado/Doutorado,1,Arequipa/PERU,2019
2890,M,Rua Onófrio Lemos,114,Ibirapuitã,Alegrete,RS,97546260,51801354273-1,1-Mestrado/Doutorado,1,Alegrete/RS,2019
2891,M,Rua Soldado Vital Fortuna,96,Vila Itapegica,Guarulhos,SP,07043-160,51801366900-3,1-Mestrado/Doutorado,1,São Paulo/SP,2019

## Notas das respostas

In [22]:
dados_notasRespostas_2016 = pd.read_csv("dados/notas_poscomp/Notas_poscomp_2016.csv", sep=';', encoding='utf-8')
dados_notasRespostas_2017 = pd.read_csv("dados/notas_poscomp/Notas_poscomp_2017.csv", sep=';', encoding='utf-8')
dados_notasRespostas_2018 = pd.read_csv("dados/notas_poscomp/Notas_poscomp_2018.csv", sep=';', encoding='utf-8')
dados_notasRespostas_2019 = pd.read_csv("dados/notas_poscomp/Notas_poscomp_2019.csv", sep=';', encoding='utf-8')

In [6]:
dados_notasRespostas_2016.columns

Index(['CONCURSO', 'NOME', 'DATA NASC', 'CPF', 'DOCUMENTO', 'NEC ESP', 'HIPO',
       'DEF', 'AFRO', 'INDIO', 'COD CARGO', 'CARGO', 'CÓD. ESPECIALIDADE',
       'ESPECIALIDADE', 'INSCRICAO', 'IDENTIFICADOR', 'PRESENTE DIA1',
       'PRESENTE DIA2', 'PRESENTE DIA3', 'PARTICIPAÇÃO EM JÚRI',
       'ACERTOS Matemática Discreta', 'NOTA Matemática Discreta',
       'ACERTOS Cálculo Diferencial Integral',
       'NOTA Cálculo Diferencial Integral', 'ACERTOS Álgebra Linear',
       'NOTA Álgebra Linear', 'ACERTOS Geometria Analítica',
       'NOTA Geometria Analítica', 'ACERTOS Análise Combinatória',
       'NOTA Análise Combinatória', 'ACERTOS Probabilidade e Estatística',
       'NOTA Probabilidade e Estatística', 'ACERTOS Lógica Matemática',
       'NOTA Lógica Matemática', 'ACERTOS Organização de Arquivos e Dados',
       'NOTA Organização de Arquivos e Dados',
       'ACERTOS Técnicas de Programação', 'NOTA Técnicas de Programação',
       'ACERTOS Circuitos Digitais', 'NOTA Circuitos Digitais',
       'ACERTOS Análise de Algoritmos', 'NOTA Análise de Algoritmos',
       'ACERTOS Teoria dos Grafos', 'NOTA Teoria dos Grafos',
       'ACERTOS Linguagens Formais, Autômatos e Computabilidade',
       'NOTA Linguagens Formais, Autômatos e Computabilidade',
       'ACERTOS Algoritmos e Estruturas de Dados',
       'NOTA Algoritmos e Estruturas de Dados',
       'ACERTOS Linguagens de Programação', 'NOTA Linguagens de Programação',
       'ACERTOS Sistemas Operacionais', 'NOTA Sistemas Operacionais',
       'ACERTOS Arquitetura e Organização de Computadores',
       'NOTA Arquitetura e Organização de Computadores',
       'ACERTOS Rede de Computadores', 'NOTA Rede de Computadores',
       'ACERTOS Computação Gráfica', 'NOTA Computação Gráfica',
       'ACERTOS Inteligência Artificial', 'NOTA Inteligência Artificial',
       'ACERTOS Engenharia de Software', 'NOTA Engenharia de Software',
       'ACERTOS Sistemas Distribuídos', 'NOTA Sistemas Distribuídos',
       'ACERTOS Compiladores', 'NOTA Compiladores',
       'ACERTOS Processamento de Imagens', 'NOTA Processamento de Imagens',
       'ACERTOS Banco de Dados', 'NOTA Banco de Dados', 'ACERTOS TO',
       'NOTA TOTAL TO', 'NOTA TOTAL Prova Discursiva',
       ' OBSERVAÇÃO Prova Discursiva', 'ESTRANGEIRO'],
      dtype='object')

In [23]:
dados_notasRespostas_2016 = dados_notasRespostas_2016.assign(ANO='2016')
dados_notasRespostas_2017 = dados_notasRespostas_2017.assign(ANO='2017')
dados_notasRespostas_2018 = dados_notasRespostas_2018.assign(ANO='2018')
dados_notasRespostas_2019 = dados_notasRespostas_2019.assign(ANO='2019')

In [24]:
dados_notasRespostas = pd.concat([dados_notasRespostas_2016, dados_notasRespostas_2017, 
                                   dados_notasRespostas_2018, dados_notasRespostas_2019], axis=0)

dados_notasRespostas = dados_notasRespostas.drop(columns=['CONCURSO', 'NOME', 'DATA NASC', 'CPF', 'DOCUMENTO',
                                                            'NEC ESP', 'HIPO','DEF', 'AFRO', 'INDIO', 'COD CARGO', 'CÓD. ESPECIALIDADE',
                                                         'PRESENTE DIA1','PRESENTE DIA2', 'PRESENTE DIA3', 'PARTICIPAÇÃO EM JÚRI'])

In [25]:
dados_notasRespostas

,CARGO,ESPECIALIDADE,INSCRICAO,IDENTIFICADOR,ACERTOS Matemática Discreta,NOTA Matemática Discreta,ACERTOS Cálculo Diferencial Integral,NOTA Cálculo Diferencial Integral,ACERTOS Álgebra Linear,NOTA Álgebra Linear,...,ACERTOS Redes de Computadores,NOTA Redes de Computadores,ACERTOS Analise Combinatória,NOTA Analise Combinatória,"ACERTOS Linguagens formais, autômatos e Computabilidade","NOTA Linguagens formais, autômatos e Computabilidade",ACERTOS Calculo Diferencial e Integral,NOTA Calculo Diferencial e Integral,ACERTOS Algoritmos e Estrutura de Dados,NOTA Algoritmos e Estrutura de Dados
0,Mestrado/Doutorado,Informática na Educação,39401673171-6,"1,00E+11",3.0,3.0,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mestrado/Doutorado,Teoria da Computação,39401645886-1,"1,02E+11",3.0,3.0,3.0,3.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mestrado/Doutorado,TEORIA DA COMPUTAÇÃO,39401663587-8,"1,01E+11",3.0,3.0,2.0,2.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mestrado/Doutorado,Sistemas Distribuídos e Programação Concorrente,39401651770-6,"1,05E+11",0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mestrado/Doutorado,Teoria da Computação,39401671273-0,"1,01E+11",1.0,1.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887,Mestrado/Doutorado,Combinatória e Teoria dos Grafos,51801396055-5,"1,05602E+11",1.0,1.0,NaN,NaN,2.0,2.0,...,1.0,1.0,NaN,NaN,2.0,2.0,2.0,2.0,3.0,3.0
2888,Mestrado/Doutorado,Sistemas Digitais e Embarcados,51801354647-6,"1,03601E+11",3.0,3.0,NaN,NaN,2.0,2.0,...,0.0,0.0,NaN,NaN,0.0,0.0,2.0,2.0,3.0,3.0
2889,Mestrado/Doutorado,Outras \ Inteligência Artificial,51801393821-0,"1,00402E+11",2.0,2.0,NaN,NaN,3.0,3.0,...,0.0,0.0,NaN,NaN,1.0,1.0,2.0,2.0,1.0,1.0
2890,Mestrado/Doutorado,Engenharia de Software e Banco de Dados,51801354273-1,"1,00201E+11",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2891,Mestrado/Doutorado,Inteligência Computacional,51801366900-3,"1,05106E+11",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Salvar dados

In [77]:
dados_respostas_1.to_csv('dados/respostas_poscomp/dados_respostas.csv')

In [92]:
dados_homologados.to_csv('dados/homologação_poscomp/dados_homologados.csv')