### Importar as bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
# Carregar os dados das respostas do POSCOMP 2016
dados_respostas_2016 = pd.read_csv("exportacao_respostas_poscomp_2016.csv", sep=';', encoding='utf-8')
dados_respostas_2016 = dados_respostas_2016.set_index('NÚMERO DE INSCRIÇÃO')

,NUM,NÚMERO DE INSCRIÇÃO,SITUAÇÃO,1,2,3,4,5,6,7,...,61,62,63,64,65,66,67,68,69,70
0,"1,003E+11",39401673171,Presente,E,A,B,D,A,A,C,...,D,A,A,A,D,C,A,NaN,B,D
1,"1,018E+11",39401645886,Presente,B,A,E,C,A,A,C,...,D,A,C,A,E,C,C,C,C,A
2,"1,009E+11",39401663587,Presente,E,A,B,D,A,A,C,...,D,A,A,A,E,C,A,C,B,D
3,"1,045E+11",39401651770,Presente,E,E,D,B,D,B,D,...,D,A,E,E,E,C,A,B,B,C
4,"1,005E+11",39401671273,Presente,B,A,D,C,E,D,B,...,C,E,E,A,E,C,C,C,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,"1,013E+11",39401640653,Presente,B,A,C,E,A,B,B,...,C,C,C,C,E,C,C,C,C,D
4215,"1,003E+11",39401635473,Presente,B,C,B,D,A,A,C,...,D,A,A,NaN,NaN,NaN,NaN,C,B,D
4216,"1,00504E+11",39401652971,Presente,B,A,D,D,C,A,C,...,E,A,C,A,E,C,C,E,B,C
4217,"1,02005E+11",39401660786,Presente,E,B,D,C,C,A,B,...,B,A,B,A,B,C,B,E,A,C
4218,"1,00902E+11",39401638998,Ausente,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [16]:
dados_gabaritos_2016 = pd.read_csv("Gabaritos_poscomp_2016.csv", sep=';', encoding='utf-8')
dados_gabaritos_2016

,COD CARGO,CARGO,QUESTAO,MATERIA,RESPOSTA,ASSINATURA ELETRONICA,TIPO GABARITO,CONCURSO,COD MATERIA,PESO QUESTAO,STATUS QUESTAO,TIPO PROVA APLICADA
0,1,Mestrado/doutorado,1,Álgebra Linear,E,NaN,D,394,3,1,1,1
1,1,Mestrado/doutorado,2,Álgebra Linear,A,NaN,D,394,3,1,1,1
2,1,Mestrado/doutorado,3,Geometria Analítica,C,NaN,D,394,4,1,1,1
3,1,Mestrado/doutorado,4,Geometria Analítica,D,NaN,D,394,4,1,1,1
4,1,Mestrado/doutorado,5,Cálculo Diferencial Integral,A,NaN,D,394,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
135,2,Autoavaliação,66,Inteligência Artificial,C,NaN,D,394,20,1,1,1
136,2,Autoavaliação,67,Sistemas Distribuídos,A,NaN,D,394,22,1,1,1
137,2,Autoavaliação,68,Compiladores,C,NaN,D,394,23,1,1,1
138,2,Autoavaliação,69,Inteligência Artificial,B,NaN,D,394,20,1,1,1
139,2,Autoavaliação,70,Engenharia de Software,A,NaN,D,394,21,1,1,1

In [3]:
# Dados da homologação dos candidatos POSCOMP 2016
dados_homologados_2016 = pd.read_csv("homologados_dados_contatos_poscomp_2016.csv", sep=';', encoding='utf-8')
dados_homologados_2016 = dados_homologados_2016.set_index('ESTADO')
dados_homologados_2016

,DATA NASC.,SEXO,ENDERECO.,NUMERO,COMPL.,BAIRRO,CIDADE,CEP,INSCRICAO,CARGO,CÓDIGO,DS CARGO,DEFICIENTE,LOCAL DE PROVA,NECESSIDADES ESPECIAIS,DESCRICAO DA NECESSIDADE,ESTRANGEIRO
ESTADO,,,,,,,,,,,,,,,,,
OU,27/10/1992,M,Pampas de Polanco,16,NaN,Ramiro Priale,Arequipa,05105-1,39401673171-6,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Arequipa - PERU,N,NaN,NaN
CE,29/11/1989,M,Mário Studart,380,A,Jacarecanga,Fortaleza,60326-060,39401645886-1,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Fortaleza - CE,N,NaN,NaN
RS,23/02/1995,M,Avenida da Azenha,324,Ap 24,Azenha,Porto Alegre,90160004,39401663587-8,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Campina Grande - PB,N,NaN,NaN
SP,13/12/1991,M,Gregório Aversa,450,B3 Ap203,Recreio São Judas Tadeu,São Carlos,13571-260,39401651770-6,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,São Carlos - SP,N,NaN,NaN
PA,29/09/1986,M,Augusto Montenegro,200,Cond. Verano Ap1105,Parque Verde,Belém,66635-110,39401671273-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SC,20/04/1985,M,Rua Guilherme José Missen,288,204,Centro,São Miguel do Oeste,89900-000,39401640653-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Chapecó - SC,N,NaN,NaN
OU,03/08/1990,F,Av. Los Libertadores,L-12,NaN,Urb. Juan Pablo Vizcardo y Guzman,Arequipa,400004000,39401635473-9,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Arequipa - PERU,N,NaN,NaN
PA,26/01/1996,M,Travessa We-40,332,Rua da Big Ben,Cidade Nova,Ananindeua,67133325,39401652971-7,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Belém - PA,N,NaN,NaN
GO,08/06/1996,F,Rua Alaor Mendonça,sn,Residencial Lourenzz,Vila Rosa,Goiânia,74843-555,39401660786-3,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Goiânia - GO,N,NaN,NaN
PB,30/10/1990,M,Rua Franklin Araújo,294,casa,Alto Branco,Campina Grande,58401-430,39401638998-0,1-Mestrado/Doutorado,1,Mestrado/Doutorado,NaN,Campina Grande - PB,N,NaN,NaN

In [18]:
#Notas do POSCOMP 2016
dados_notas_2016 = pd.read_csv("Notas_poscomp_2016.csv", sep=';', encoding='utf-8')
dados_notas_2016

,CONCURSO,DATA NASC,DOCUMENTO,NEC ESP,HIPO,DEF,AFRO,INDIO,COD CARGO,CARGO,...,NOTA Sistemas Distribuídos,ACERTOS Compiladores,NOTA Compiladores,ACERTOS Processamento de Imagens,NOTA Processamento de Imagens,ACERTOS Banco de Dados,NOTA Banco de Dados,ACERTOS TO,NOTA TOTAL TO,ESTRANGEIRO
0,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
1,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
2,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
3,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
4,394,27/10/1992,47430485,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,3.0,0.0,0.0,2.0,2.0,2.0,2.0,42.0,42.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23845,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
23846,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
23847,394,08/06/1996,6309672,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,25.0,NaN
23848,394,30/10/1990,3335248,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23849,394,30/10/1990,3335248,N,NaN,NaN,NaN,N,1,Mestrado/Doutorado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN